.banner{
    background-color: rgb(174, 115, 233);
    height: 100px;
    
    
}
.banners{
    font-size: 65px;
    font-weight: 700;
    color: rgb(207, 245, 131);
}

.input{
   border: 2px solid gray;
   border-radius: 5px;
}
.button-input{
    border: 2px solid blue;
    border-radius: 5px;
    background-color: rgb(64, 81, 240);
}
.button{
    justify-content: center;
    margin-top: 20px;
}
.err{
    font-size: 100px;
    color: brown;
    font-weight: 700;
}